
*{
  box-sizing: border-box;
}
body{
  background-image: url(images/bg-pattern-top.svg),url(images/bg-pattern-bottom.svg);
  background-size: 180px, 330px, auto;
  background-position: right bottom,left top;
  color: hsl(227, 10%, 46%) ;
  background-repeat:no-repeat ;
  background-color: hsl(185, 75%, 39%);
}
main{
  background-color: white;
  max-width: 200px;
  margin:  30px auto;
  border-radius: 10px;
}
.card-image{
  position: relative;
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.profile-image{
  width: 50px;
  border-radius: 25px;
  position: absolute;
  top: 90px;
 }
.uut{
  display: flex;
  justify-content: center;
  }
.sub-container{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}
.name{
  color:  hsl(229, 23%, 23%);
}
h1{
  font-size: 15px;
  margin-top: 35px;
  margin-bottom: 0px;
}
.country{
  margin-top: 5px;
  font-size: 10px;
}
.stats-container{
  margin-top: 0px;
 display: flex; 
 justify-content: space-evenly; 
 text-align: center;
}
h2{
  color: hsl(229, 23%, 23%);
  font-size: 12px;
  margin-bottom: 0px;
}
.stats-def{
  margin-top: 0px;
  color:hsl(227, 10%, 46%) ;
  font-size: 7px;
}
.line{
  margin-bottom: 0px;
  border-top: 0.3px solid;
  width: 200px;
  background-color: hsl(227, 10%, 46%);
}